<div id='container'></div>



<!--<h1 class='pageTitle'></h1>-->

<!--<div id='homeWrapper' class='flexContainer'>-->
  <!--<div id='typewriter'></div>-->
<!--</div>-->

<!--<ul id='allProjects'>-->
  <!--{{#each projects}}-->
    <!--<li class='projectItem' id={{id}}>-->
      <!--{{#if projectLink}}-->
	<!--<a class='projectLink' href={{projectLink}}>-->
      <!--{{else}}-->
	<!--<a class='projectLink' href='/work/{{id}}'>-->
      <!--{{/if}}-->
	<!--<div class='imgContainer'>-->
	  <!--<img class='projectImage' src={{imgsrc}}>-->
	  <!--<div class='imgMask'></div>-->
	  <!--<h2 class='projectTitle projectText'>{{title}}</h2>-->
	  <!--<p class='projectDesc projectText'>{{desc}}</p>-->
	<!--</div>-->
      <!--</a>-->
    <!--</li>-->
  <!--{{/each}}-->
<!--</ul>-->



<script src='/bower_components/three.js/examples/js/libs/stats.min.js'></script>
<script src='/javascripts/home.js'></script>


