<h1 class='pageTitle'>{{title}}</h1>
<ul id='allProjects'>
  {{#each projects}}
    <li class='projectItem' id={{id}}>
      {{#if projectLink}}
	<a class='projectLink' href={{projectLink}}>
      {{else}}
	<a class='projectLink' href='/work/{{id}}'>
      {{/if}}
	<div class='imgContainer'>
	  <img class='projectImage' src={{imgsrc}}>
	  <div class='imgMask'></div>
	  <h2 class='projectTitle projectText'>{{title}}</h2>
	  <p class='projectDesc projectText'>{{desc}}</p>
	</div>
      </a>
    </li>
  {{/each}}
</ul>

<script src='/javascripts/work.js'></script>
